<div class="container">
  <mat-card>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Send Email</button>
    </form>
  </mat-card>

</div>