<div class="form-div">
    <mat-icon matDialogClose style="margin-left: 280px; margin-bottom: 5px;">close</mat-icon>
    <form >
        <p>
            <mat-label>Sample:</mat-label>
                <input [(ngModel)]="sampleDetails.sample" name="sample" style="width: 200px; margin-left:5px" type="text" required>
        </p>
        <p>
            <mat-label>Seq:</mat-label>
                <input [(ngModel)]="sampleDetails.seq" name="seq" style="width: 200px; margin-left:28px" type="text" required>
        </p>
    </form>

        <mat-slide-toggle class="button-spacing"></mat-slide-toggle> 
        <button mat-raised-button color="warn" class="button-spacing" (click)="clearSampleDetails()">Clear</button>
        <button mat-raised-button color="primary" class="button-spacing">Save</button>
</div>

