.table-container {
    width: 50%;
    left: 40%;
    position: absolute;
    top: 20%;
    border: 1px solid rgba(11, 11, 11, 0.3);
    box-shadow: 3px 3px 9px rgba(0,0,0,0.3);
  }

  .button-spacing {
    margin-right: 20px;
  }

  .add-div{
    position: absolute;
    top: 50%;
    left:18%;
  }

  .search{
    position: absolute;
    top: 40%;
    left: 10%;
  }