.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.left-container {
    margin-top: 10px;
    width: 20%;
}

.right-container {
    margin-top: 10px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.bottom-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    margin-left: 125px;
    gap: 20px;
}

.info-container {
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 20px;
}

.box {
    border: 2px solid #333;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.custom-dropdown {
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.custom-dropdown mat-select {
    text-align: center;
}

.details-container {
    border: 2px solid #333;
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.detail-row {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
}

.value {
    text-align: right;
}

.diet-box {
    border: 2px solid #333;
    padding: 30px;
    margin-bottom: 20px;
}

.health-box {
    border: 2px solid #333;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    width: 25%;
    text-align: center;
}

.diagnose-suggestion-container {
    border: 2px solid #333;
    background-color: #f0f0f0;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.diagnose-box,
.suggestion-box {
    border: 2px solid #333;
    background-color: #f0f0f0;
    padding: 40px;
    margin-bottom: 10px;
    width: 48%;
    text-align: center;
    box-sizing: border-box;
}

.mat-elevation-z8 {
    width: 100%;
    padding: 20px;
    margin-left: -50px;
    margin-top: -40px;
}

.mat-header-cell {
    font-weight: bold;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 10px;
}

.mat-cell {
    text-align: center;
}

.mat-header-cell.mat-checkbox-cell {
    text-align: center;
}

.mat-cell.mat-checkbox-cell {
    text-align: center;
}

.mat-row.mat-selected {
    background-color: #cceeff;
}

.mat-row:hover {
    background-color: #f0f0f0;
}

.search-box-container {
    margin-top: 20px;
}

.search-box {
    width: 100%;
}