<div class="wrapper">
    <div class="container">
        <div class="section">
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/Doctor.webp">
                </div>
                <div class="caption">
                    <p>Doctor</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/firstaid.png">
                </div>
                <div class="caption">
                    <p>Firstaid</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/thermometer.png">
                </div>
                <div class="caption">
                    <p>thermometer</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/details.jpg">
                </div>
                <div class="caption">
                    <p>details</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/plaster.png">
                </div>
                <div class="caption">
                    <p>plaster</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/vaccine.jpg">
                </div>
                <div class="caption">
                    <p>vaccine</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/prescription.jpg">
                </div>
                <div class="caption">
                    <p>prescription</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/pills.jpg">
                </div>
                <div class="caption">
                    <p>pills</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/medicine.png">
                </div>
                <div class="caption">
                    <p>medicine</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/folder.jpg">
                </div>
                <div class="caption">
                    <p>folder</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/stethoscope.png">
                </div>
                <div class="caption">
                    <p>stethoscope</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/ambulance.png">
                </div>
                <div class="caption">
                    <p>ambulance</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/waiting.jpg">
                </div>
                <div class="caption">
                    <p>waiting</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/microscope.png" >
                </div>
                <div class="caption">
                    <p>microscope</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/ladydoc.jpg">
                </div>
                <div class="caption">
                    <p>doctor</p>
                </div>
            </div>
            <div class="gallery">
                <div class="image">
                    <img src="assets/img/record.png">
                </div>
                <div class="caption">
                    <p>record</p>
                </div>
            </div>
        </div>
    </div>
</div>