*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wrapper{
  width: 100%;
}
.wrapper .container{
  padding-top: 10px;
}

.wrapper .container .section{
  width: 80%;
  margin: 0px auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

.wrapper .container .section .gallery{
  width:100%;
  position: relative;
}

.wrapper .container .section .gallery .image{
  width: 100%;
}

.wrapper .container .section .gallery .image img{
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  padding: 5px;
  display: block;
}

.wrapper .container .section .gallery .caption{
  width:100px;
  height: 30px;
  position: absolute;
  padding: 2px;
  top: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  flex-direction: column;
  background-color: rgba(255,255,255,0.3);
  color: #222;
  opacity:0;
  transition: opacity 0.30s;
}

.wrapper .container .section .gallery .caption:hover{
  opacity:1;
}

.wrapper .container .section .gallery .caption p{
  color: rgb(7, 7, 7);
}
@media screen and (max-width: 992px) {
  .wrapper .container .section{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 568px) {
  .wrapper .container .section{
    grid-template-columns: 1fr;
  }
}