.button {
    transition-duration: 0.4s;
    opacity: 80px;
  }
  
  .button:hover {
    background-color: grey;
    color: white;
  }
  
  *{
      box-sizing: border-box;
    }
  
    .containers{
      display: flex;
      width: 100%;
    }
  
    .card{
      height: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 60px;
      margin-right: 60px;
      overflow: hidden;
    }
  
    .intro{
      height: 100px;
      width: 100px;
      box-sizing: border-box;
      position: absolute;
      bottom: 150px;
      background-color: rgb(27, 27, 27,0);
      color: white;
    }
  
    .para{
      text-align: center;
      margin-top: 5px;
      opacity: 0;
    }
  
    .card:hover{
      cursor: pointer;
    }
  
    .card:hover .intro{
      height: 30px;
      bottom: 415px;
      background: rgb(27, 27, 27,0.5);
    }
  
    .card:hover .para{
      opacity: 1;
      visibility: visible;
    }
  
    .introRow2{
      height: 100px;
      width: 100px;
      box-sizing: border-box;
      position: absolute;
      bottom: 70px;
      background-color: rgb(27, 27, 27,0);
      color: white;
    }
  
    .card:hover .introRow2{
      height: 30px;
      top: 230px;
      background: rgb(27, 27, 27,0.5);
    }
  
    .introRow3{
      height: 100px;
      width: 100px;
      box-sizing: border-box;
      position: absolute;
      bottom: 70px;
      background-color: rgb(27, 27, 27,0);
      color: white;
    }
  
    .card:hover .introRow3{
      height: 30px;
      bottom: 135px;
      background: rgb(27, 27, 27,0.5);
    }
  
    .introRow4{
      height: 100px;
      width: 100px;
      box-sizing: border-box;
      position: absolute;
      bottom: 70px;
      background-color: rgb(27, 27, 27,0);
      color: white;
    }
  
    .card:hover .introRow4{
      height: 30px;
      bottom: 0px;
      background: rgb(27, 27, 27,0.5);
    }
  