<!-- row1 -->
<div class="containers">
    <div class="card">
        <a href="https://www.google.com"><img src="assets/img/Doctor.webp"
                style="height: 100px; width:100px; border-radius: 2px;" /></a>
        <div class="intro">
            <p class="para">doctor</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/firstaid.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="intro">
            <p class="para">firstAid</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/thermometer.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="intro">
            <p class="para">thermometer</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/details.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="intro">
            <p class="para">details</p>
        </div>
    </div>
</div>

<!-- row2 -->
<div class="containers">
    <div class="card">
        <img src="assets/img/plaster.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow2">
            <p class="para">plaster</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/vaccine.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow2">
            <p class="para">vaccine</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/prescription.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow2">
            <p class="para">prescription</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/pills.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow2">
            <p class="para">pills</p>
        </div>
    </div>
</div>

<!-- row3 -->
<div class="containers">
    <div class="card">
        <img src="assets/img/medicine.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow3">
            <p class="para">medicine</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/folder.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow3">
            <p class="para">folder</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/stethoscope.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow3">
            <p class="para">stethoscope</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/ambulance.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow3">
            <p class="para">ambulance</p>
        </div>
    </div>
</div>

<!-- row4 -->
<div class="containers">
    <div class="card">
        <img src="assets/img/waiting.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow4">
            <p class="para">waiting</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/microscope.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow4">
            <p class="para">microscope</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/ladydoc.jpg" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow4">
            <p class="para">doctor</p>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/record.png" style="height: 100px; width:100px; border-radius: 2px;" />
        <div class="introRow4">
            <p class="para">record</p>
        </div>
    </div>
</div>